* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  color: #333;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid-contact {
  grid-template-columns: repeat(2, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.line-break {
  margin-bottom: 2.4rem;
}
.inner-section-margin {
  margin-bottom: 5.2rem;
}
.outer-section-margin {
  margin-bottom: 8.2rem;
}
.hidden {
  display: none;
}
