/***************** 
** HERO SECTION   **
******************/

.hero {
  padding: 10rem 0px 10rem 0px;
  position: relative;
  margin-bottom: 9.6rem;
  background-image: url("/img/rsz_2kadaka_back.jpg");
  background-size: cover;
}

.hero-text-section {
  width: 50%;
  text-align: center;
  padding: 3rem;
}
.separator {
  border: 10px solid black;
  border-image: url(/img/kadakaplaat.jpg) 50 50 round;
  background-color: white;
  display: inline-block;
  margin-top: 4.8rem;
  padding: 3rem;
}
.separator::after {
  border-radius: 50%;
}

.hero-title {
  font-weight: 700;
  color: #222;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

/***************** 
** NAVIGATION   **
******************/
.navi-container {
  width: 50%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  justify-content: center;
  gap: 5.2rem;
  border-radius: 0px 100px 10px 0px;
  background-color: #0e452c;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
}

.current-page {
  color: #ffd84b;
  text-decoration: none;
}

.main-nav-link:hover {
  box-shadow: 0px 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

/* Navlink animation */
.main-nav-link,
.current-page {
  position: relative;
}
.main-nav-link::after,
.current-page::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
.main-nav-link:hover::after,
.current-page:hover::after {
  width: 100%;
}
.main-nav-link,
.main-nav-link:after,
.main-nav-link:before,
.current-page,
.current-page:after,
.current-page:before {
  transition: all 0.5s;
}

/***************** 
** PRODUCTS   **
******************/
.products-header {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.products-title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.product-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  transition: all 400ms;
}

.product-card:hover {
  transform: translateY(-1rem);
}

.product-img {
  width: 100%;
  border-radius: 11px 11px 0 0;
}
.product-content {
  padding: 3rem;
}
.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.4rem;
}
.product-title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.1;
}
.product-list-item {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.product-icon {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}
.product-para-text {
  font-size: 1.8rem;
}
.product-price {
  background-color: #0e452c;
  padding: 1rem 2rem;
  color: #ffd84b;
  font-weight: 700;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  border-radius: 100px;
}

/***************** 
** FEATURE SECTION   **
******************/

.feature-box {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.feature-icon {
  width: 9.2rem;
  height: 9.2rem;
}
.feature-text span {
  font-weight: 500;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.6;
}
/***************** 
** GALLERY SECTION   **
******************/
.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  background: linear-gradient(#0e452c, #3e6a56);
  border-radius: 41% 42% 52% 48% / 54% 62% 39% 46%;
}

.gallery-container {
  max-width: 90rem;
  padding: 6rem;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 200ms;
}
.gallery-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.img1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

/* On click gallery img */
.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-height: 80vh;
  max-width: 80vw;
  position: relative;
}

.img-btn-next,
.img-btn-prev {
  display: block;
  padding: 1rem 3rem;
  /* margin: 0px -9rem; */
  border-radius: 4px;
  background-color: #0e452c;
  color: white;
  border: 3px solid black;

  position: fixed;
  top: 16vh;
  z-index: 500;
  cursor: pointer;
  text-transform: uppercase;
}
.img-btn-next:hover,
.img-btn-prev:hover {
  background-color: #3e6a56;
}

/***************** 
** PRODUCER SECTION   **
******************/
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.producer-img {
  width: 40rem;
  height: 50rem;
}

.img-box::after,
.img-box::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 57%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.img-box::after {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  background-color: #0e452c;
  z-index: -1;
}

.img-box::before {
  width: 65%;
  /* height: 60%; */
  /* 60% of parents width */
  padding-bottom: 60%;
  background-color: #3e6a56;
  position: absolute;
  z-index: -2;
}
/***************** 
** FORM, CONTACT SECTION   **
******************/

.esita-tellimus {
  margin-bottom: 2rem;
}
.contact-opener {
  margin-bottom: 2rem;
}

.contact-section {
  margin-bottom: 9.2rem;
  position: relative;
}
input,
textarea,
label {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 2rem;
  color: #333;
}

input {
  margin-bottom: 1.2rem;
  height: 4rem;
}
.form-btn {
  margin-top: 1.2rem;
  background-color: #3e6a56;
  color: white;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #517967;
}
.form-btn:active {
  transform: translateY(10%);
}

/* Submitted message styling */
.submitted-message {
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 13rem;
  background-color: white;
  box-shadow: 0px 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
  padding: 5rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.submitted-title {
  margin-bottom: 2rem;
}
.submitted-para {
  margin-bottom: 1.2rem;
}
.formbtnedited {
  padding: 1rem 2rem;
  font-size: 1.8rem;
}

/* BURGER MENU, COPIED*/
/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  height: 50px;
  z-index: 12;
  display: none;
}

.menu-items li {
  list-style: none;
  margin-left: 6.5rem;
}

.menu-items a {
  text-decoration: none;
  color: #333;
  font-size: 3.2rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #0e452c;
  transition: color 0.3s ease-in-out;
}
